@tailwind base;
@tailwind components;
@tailwind utilities;

// Checkbox toggle.
.tcc__cookie--checkbox-toggle {
    width: 54px;
    height: 28px;

    .tcc__toggle {
      position: absolute;
      cursor: pointer;
      border-radius: 34px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #ccc;
      transition: .4s;

      &::before {
        position: absolute;
        content: "";
        border-radius: 50%;
        left: 4px;
        bottom: 4px;
        width: 20px;
        height: 20px;
        background-color: #fff;
        transition: .4s;
      }
    }

    input:checked+.tcc__toggle {
      background-color: #65A30D;
    }

    input:checked+.tcc__toggle::before {
      transform: translateX(26px);
    }

    input:disabled+.tcc__toggle::before {
      transform: translateX(26px);
    }

    input:disabled+.tcc__toggle {
      background-color: #65A30D;
      opacity: .5;
    }
}

.tcc__nav__item {
    .tcc__active {
        display: none;
    }

    .tcc__deactivated {
        display: block;
    }

  &.tcc__active {
    span {
      font-weight: 700;
    }
  }
}

.tcc__nav__item.tcc__active-preference {
    .tcc__active {
      display: block;
    }

    .tcc__deactivated {
      display: none;
    }
}